[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.75.0"
uvicorn = "==0.17.6"
numpy = "==1.22.3"
pillow = "==9.0.1"
python-multipart = "==0.0.5"
face-recognition = "==1.3.0"

[dev-packages]

[requires]
python_version = "3.10.4"
